body {background-color: black;
}

.main-container{
background-color: black;
}

h1 {
	color: red;
	font-size: 48px;
	text-align: center;
	padding: 20px 0px 20px 0px;
	
}
p{color: red;
	text-align: center;
	padding: 20px 0px 20px 0px;

}

.question{
	color: red;
	text-align: center;
	line-height: 50px;

}
.answers{
	color: red;
	text-align: center;
	line-height: 50px;
}

.theLab :hover {
    color: purple;
}

.timer {
	color: red;
	text-align: center;
}

.finalCountDown {
	color: red;
	text-align: center;
}

.theLab {color: red;
	text-align: center;
	line-height: 50px;
}
.gameQuestions {color: red;
	text-align: center;
	line-height: 50px;
}


.image {
	float: right;
	padding: 0px 50px 0px 0px;
}



